@model IEnumerable<WebTP.Models.Livre>

<h1>Liste des Livres</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Résumé</th>
            <th>Emprunté</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livre in Model)
        {
            <tr>
                <td>@livre.Id</td>
                <td>@livre.Titre</td>
                <td>@livre.Auteur</td>
                <td>@livre.Resume</td>
                <td>@(livre.EstEmprunte ? "Oui" : "Non")</td>
                <td><img src="/images/@livre.ImageUrl" alt="Image du livre" style="max-width: 100px; max-height: 100px;" /></td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AjouterLivre", "Livre")">Ajouter un nouveau livre</a>
